*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.border{
  border: lightgray solid 2px;
  border-radius: 14px;
}
.border-top{
  border-top: lightgray solid 2px;
}

.margin{
  margin: 120px auto;
}

.padding{
  padding: 16px;
}


.box{
  background-color: #38e593;
  border: #38e593 solid 2px;
  width: 470px;
}

.box-card{
  width: 470px;
}

.img-card{
  width: 470px;

}
.login-box{
  text-align: center;
  width: 470px;
}